/********************
/**     GLOBAL      *
/********************/
body {
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
}

/* pour les écrans de moins de 767px */
@media screen and (max-width: 767px) {
  body {
      font-size: 0.8em;
  }
}

a {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}

/********************
/**     HEADER      *
/********************/
.header {
  position: relative;
}

.header__title-container {
  display: flex;
  align-items: baseline;
  gap: 0.8rem;
  padding: 1rem;
  background-color: #87CEEB; /* Bleu ciel */
}

.header__title {
  font-size: 3rem;
  font-weight: 800;
  color: white;
}

.header__subtitle {
  font-weight: 800;
  color: white;
}

.header__theme-container {
  padding: 0.5rem;
  background-color: #9ACD32; /* Vert pastel */
  text-align: center;
}

.header__theme-title {
  color: white;
}

.header__theme-title-name {
  font-size: 1.5em;
  font-style: italic;
}

.header__nav {
  display: flex;
  justify-content: flex-end; /* Sépare les éléments à gauche et à droite */
  align-items: center; /*centre verticalement les éléments*/
  padding: 0.5rem;
  background-color: #E6E6FA;
  color: #1a5099;
  text-align: center;
}

.header__nav-list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

#header__button-back {
  display: inline-block;
  padding: 10px 20px;  
  margin-right: auto; /*Pour que le bouton soit à gauche */
}

.header__button{
  text-decoration: none; /* Supprime le soulignement du lien */
  border-radius: 5px; /* Bords arrondis du bouton */
  transition: background-color 0.3s; /* Transition douce lors du survol du bouton */
  background-color: #87CEEB; /* Couleur de fond du bouton */
  color: white; /* Couleur du texte du bouton */
  border:none;
  padding: 5px 5px;
  
}

#header__button-back:hover {
  background-color: #1a5099; /* Couleur de fond du bouton lors du survol */
}

.header__nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem; /* Ajoute un espace entre les éléments */
}

.header__nav-link {
   color: #1a5099;
}

.header__nav-item {
  display: inline-block;
}

.header__nav-link:hover {
  color: #0d335d;
}

.header__nav-search-form {
  margin-right: 1rem; /* Ajoute un espace à droite de la barre de recherche */
}

.header__nav-search-form input[type="search"] {
  /* margin-right: 1rem; */
  box-sizing: border-box;
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  border-width: 0.1rem;
}

/* Media query pour les appareils mobiles */
@media (max-width: 767px) {
  .header__nav {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
  }


   .header__nav-right {
    flex-direction: column; 
    align-items: center;
}

  .header__nav-list {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .header__nav-search-form {
      width: 100%;
      margin-right: 0;
  }

  .header__nav-search-form input[type="search"] {
      width: 100%;
      font-size: 0.8em; 
  }

  .header__nav-link {
    font-size: 0.8em; /* Réduit la taille de la police des liens de navigation */
}

  #header__button-back {
    /* margin-bottom: 0.5rem; 
    margin-right: 0; 
    margin-top:10px; */

    display: inline-block;
    padding: 0.8rem 1.5rem;
    margin-top: 0.8rem;
    
  }

  .header__button {
    margin-top: 0.8rem;
  } 

.header__button:hover {
  background-color: #1a5099;
  transition: background-color 2s;
  } 
}
/********************
/**     STICKY      *
/********************/
  .sticky-ship {
    position: sticky; /* L'élément va se mettre en fixed au moment où on on va l'atteindre */
    top: 0; /* Au moment où on touche son top 0px, il devient fixed */
    z-index: 10; /* On fait en sorte qu'il soit au-dessus des autres éléments (sur l'axe z) */
    padding: 0.5rem;
    background-color: #E6E6FA; /* Violet lavande */
    color: #1a5099 ;
    text-align: center;
  }

  @media screen and (max-width: 767px) {
    .sticky-ship {
      position: static; /* L'élément n'est plus fixe en version mobile */
    }
    .header__title {
      font-size: 2rem;
    }
    .header__subtitle {
      font-size: 0.8rem;
    }
  }

/********************
/**     MAIN        *
/********************/
 .product-list {
    display: flex; /* Block flexible */
    flex-direction: row; /* Met les items en ligne */
    flex-wrap: wrap; /* Passe automatiquement à la ligne */
    justify-content: space-evenly; /* Distribuer le même espace antre les items */
    row-gap: 1rem; /* Espacement entre les lignes */
    padding: 1rem 1.5rem;
  }
  .product-list__item {
    position: relative; /* Position relative pour pouvoir positionner un enfant en absolute */
    width: 30%;
    border: 2px solid lightgray;
    padding: 0.5rem;
    display: flex; /* pour que les boutons soient alignés y compris en version tablette*/
    flex-direction: column; 
    justify-content: space-between; 
  }
  
  /* POSITION ABSOLUTE : pastille de promo */
  .product-list__item-promo {
    position: absolute; /* On peut bouger cet élément n'importe où dans son parent (car il est lui même positionné) */
    right: 10px; /* à 10px du bord droit */
    top: 10px; /* à 10px du bord supérieur */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: gray;
    border: 4px solid lightgray;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 800;
    color: white;
    transform: rotate(25deg); /* Permet d'appliquer une transformation sur l'élément. Ici on vient tourner de 25 degrès */
  }
  
  .product-list__item-img {
    max-width: 100%; /*pour éviter que les images dépassent de leur conteneur si elles sont trop grandes*/
    height: 60vh; /* vh pour une hauteur responsive */
    object-fit: cover; /* Assure que l'image couvre toute la zone sans déformation */
  }

  .product-list__item-collection {
    color: lightgray;
    font-weight: 800;
    font-size: 0.8rem;
    padding: 0.4rem 0.3rem;
    border-bottom: 2px solid lightgray;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .product-list__item-title {
    font-size: 1.3rem;
    font-weight: 800;
    margin-bottom: 1rem;
  }
  .product-list__item-button {
    background-color: #87CEEB; /* Bleu ciel */
    display: flex;
    margin-top: 1.5rem;
    padding: 1rem;
    color: white;
    justify-content: space-between;
    position: relative; /* Pour bouger l'élément en partant de sa position initiale */
    transition: background-color 2s; /* Transition de 2s sur le changement de background-color (changement qui arrive lors du survol => :hover, définit juste en-dessous) */
  }
  .product-list__item-button:hover { /* Changement de style lors du survol sur cet élément */
    background-color: #F0F; /* Le changement de couleur aura une transition de 2s (voir plus haut) */
  }
  .product-list__item-button-price {
    font-weight: 800;
    white-space: nowrap;
  }
  .product-list__item-button-price--strike {
    font-weight: 400;
    text-decoration: line-through;
    white-space: nowrap;
  }

  @media screen and (max-width: 767px) {
    .product-list {
      flex-direction: column;
      align-items: center;
    }
    .product-list__item {
      width: 90%;
    }
  }
  


/********************
/**     FOOTER      *
/********************/
footer {
    background-color: #E6E6FA;
    padding: 1.5rem 0;
    text-align: center;
    color: #1a5099;
}


.footer__list {
  list-style-type: none;
  padding: 0;
}

.footer__list-item {
  display: inline;
  margin-right: 10px;
}

.footer__link {
  color: #1a5099;
  text-decoration: none;
  text-decoration: underline;
}

.footer__link:hover {
  color: #0d335d;
}

@media screen and (max-width: 767px) {
  .footer__list-item {
      display: block; /* Chaque élémént du footer est affiché sur sa propre ligne */
      margin: 10px 0; /* Marge en haut et en bas pour espacer les éléments */
  }
}
/********************
/**     FIXED       *
/********************/
 .fixed-sales {
    position: fixed; /* on fixe l'élément sur la fenêtre du navigateur. La place qu'occupait cet élément est maintenant retirée de la page */
    left: 0; /* Collé a gauche */
    top: 50%; /* A 50% du top (donc au milieu sur l'axe vertical) */
    padding: 0.45rem;
    border-radius: 0 8px 8px 0;
    background-color: #9ACD32;
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.8rem;
    writing-mode: vertical-lr; /* Passe le texte en vertical */
    text-orientation: upright; /* Passe les lettres vers le haut */
    letter-spacing: -3px; /* Espacement entre les lettres */
  }

/*On n'affiche pas le badge soldes en version mobile*/
@media screen and (max-width: 767px) {
    .fixed-sales {
      display: none;
    }
  }

  .product-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-list__item img {
    align-self: flex-end;
}